@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: #D4D9DE;
}

#root {
  margin: 0 auto;
  padding: 1.5rem 1rem 0 1rem ;
}

@media (min-width: 640px) { 

  #root {
    margin: 0 auto;
    padding: 3rem 2.5rem 0 2.5rem ;
  }
}

